@charset "UTF-8";
:root {
  /* fonts */
  --main-font: "Open Sans";
  --secondary-font: "Raleway";
  /* text colors */
  --accent-txt-cl: #ff6c00;
  --main-light-theme: #303030;
  --main-dark-theme: #ffffff;
  --red-cl: #f9002f;
  /* bg-colors */
  /* others */
  --items: 3;
  --indent: 30px;
  --anim-slow: 600ms ease-in-out;
  --anim-fast: 300ms ease-in-out;
}

/* visually-hidden hide elements */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.portfolio, .team, .benefits {
  padding-top: 130px;
  padding-bottom: 130px;
}

body {
  font-family: var(--main-font), sans-serif;
  font-size: 14px;
  line-height: 1.86;
}
body.no-scroll {
  overflow: hidden;
}

/* reset */
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/**
  |============================
  | сітка із застосуванням flex-box
  |============================
*/
.card-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: var(--indent);
}

.card-set__item {
  -ms-flex-preferred-size: calc((100% - var(--indent) * var(--items)) / var(--items));
      flex-basis: calc((100% - var(--indent) * var(--items)) / var(--items));
}

.btn {
  padding: 12px 20px;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid var(--accent-txt-cl);
  border-radius: 25px;
  cursor: pointer;
  -webkit-transition: color var(--anim-slow), background-color var(--anim-fast);
  transition: color var(--anim-slow), background-color var(--anim-fast);
}
.btn:hover, .btn:focus {
  background-color: var(--accent-txt-cl);
  color: var(--main-dark-theme);
}
.btn--mode-light {
  color: var(--main-light-theme);
}
.btn--mode-dark {
  color: var(--main-dark-theme);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 130px;
  padding-bottom: 130px;
}

.socials-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--main-light-theme);
  -webkit-transition: color var(--anim-slow);
  transition: color var(--anim-slow);
}
.socials-link:hover, .socials-link:focus {
  color: var(--accent-txt-cl);
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-media__item:not(:last-child) {
  margin-right: 10px;
}

.social-media__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  color: #303030;
  background-color: #fff;
  border-radius: 50%;
  -webkit-transition: color var(--anim-fast), background-color var(--anim-fast);
  transition: color var(--anim-fast), background-color var(--anim-fast);
}
.social-media__link:hover, .social-media__link:focus {
  color: #ff6c00;
  background-color: #555555;
}

.social-media__icon {
  fill: currentColor;
}

.main-title {
  margin-bottom: 20px;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.uppertitle {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.uppertitle--mode-light {
  color: #303030;
}
.uppertitle--mode-dark {
  color: rgba(157, 164, 189, 0.6);
}
.uppertitle::before {
  content: "";
  margin-right: 20px;
  display: inline-block;
  width: 60px;
  height: 1px;
  background-color: #303030;
}

.title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.title--mode-light {
  margin-bottom: 20px;
  color: #303030;
}
.title--mode-dark {
  margin-bottom: 44px;
  color: #ffffff;
}

.section-subtitle {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}
.section-subtitle-mode-light {
  color: #555555;
}
.section-subtitle-mode-dark {
  color: #ffffff;
}

/* slider start */
.slider-pagination {
  position: absolute;
  top: 50%;
  right: 55px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #fff;
}

.slider-pagination-item {
  margin-left: auto;
  margin-bottom: 12px;
  width: 8px;
  height: 2px;
  background-color: #9da4bd;
}

.slider-pagination-item:last-child {
  margin-bottom: 0;
}

.slider-pagination-item.current {
  width: 18px;
  background-color: #fff;
}

.slider-controls {
  position: absolute;
  bottom: 40px;
  right: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 26px;
}

.slider-btn {
  padding: 8px 0;
  min-width: 60px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  color: #ffffff;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ffffff;
  cursor: pointer;
}

.slider-btn-prev {
  text-align: left;
  opacity: 0.6;
}

.slider-btn-next {
  text-align: right;
}

/* overlay */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  background-color: rgba(25, 28, 38, 0.2);
  -webkit-transition: -webkit-transform var(--anim-fast);
  transition: -webkit-transform var(--anim-fast);
  transition: transform var(--anim-fast);
  transition: transform var(--anim-fast), -webkit-transform var(--anim-fast);
}

.portfolio__item:hover .overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.overlay__desc {
  font-size: 18px;
  color: white;
}

/* Header section */
.header {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  /* background-color: #191c26; */
  -webkit-transition: background-color var(--anim-slow), bax-shadow var(--anim-slow), -webkit-backdrop-filter var(--anim-slow);
  transition: background-color var(--anim-slow), bax-shadow var(--anim-slow), -webkit-backdrop-filter var(--anim-slow);
  transition: background-color var(--anim-slow), backdrop-filter var(--anim-slow), bax-shadow var(--anim-slow);
  transition: background-color var(--anim-slow), backdrop-filter var(--anim-slow), bax-shadow var(--anim-slow), -webkit-backdrop-filter var(--anim-slow);
}

.header.js-no-transparency {
  background-color: rgba(16, 18, 27, 0.4);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  -webkit-box-shadow: 0 4px 10px rgba(25, 28, 38, 0.4);
          box-shadow: 0 4px 10px rgba(25, 28, 38, 0.4);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  margin-right: 71px;
}

.header__group {
  margin-left: auto;
}

.header__contact {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--main-dark-theme);
}

.header__btn {
  margin-left: 40px;
}

/* main nav */
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__item:not(:last-child) {
  margin-right: 40px;
}

.nav__link {
  display: block;
  padding-top: 52px;
  padding-bottom: 52px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--main-dark-theme);
  -webkit-transition: color var(--anim-slow);
  transition: color var(--anim-slow);
}

.nav__link--current {
  position: relative;
  color: var(--accent-txt-cl);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__link--current::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  width: 100%;
  height: 4px;
  display: inline-block;
  margin-right: 10px;
  background-color: var(--accent-txt-cl);
  border-radius: 2px;
}

.nav__link:hover,
.nav__link:focus {
  color: var(--accent-txt-cl);
}

.hero {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
  background-color: #191c26;
  background-image: url(../images/hero/hero-bg.jpg), linear-gradient(to right, #fff 155px, rgba(25, 28, 38, 0.2) 155px);
  background-position: top right, center;
  background-repeat: no-repeat;
  background-size: 1125px 680px, cover;
}

.hero-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-left-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  max-width: 100px;
  -ms-flex-preferred-size: 100px;
      flex-basis: 100px;
}

.hero-list {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  -webkit-transform: translateX(28px) rotate(-90deg);
          transform: translateX(28px) rotate(-90deg);
  -webkit-transform-origin: top left;
          transform-origin: top left;
}

.hero-list::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: #303030;
}

.hero-right-side {
  margin-left: 100px;
  max-width: 500px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-top: 272px;
  padding-bottom: 206px;
}

.hero-descr {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.about {
  padding-top: 200px;
  padding-bottom: 200px;
}

.about-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-item:not(:last-child) {
  margin-right: 30px;
}

.about-group {
  -ms-flex-preferred-size: 500px;
      flex-basis: 500px;
  margin-left: 64px;
}

.about-descr {
  margin-bottom: 40px;
}

.price {
  padding-top: 100px;
  padding-bottom: 100px;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  background-color: #111319;
  background-image: url(../images/price/price-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.price-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.price-list-item {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -webkit-transition: -webkit-transform var(--anim-slow);
  transition: -webkit-transform var(--anim-slow);
  transition: transform var(--anim-slow);
  transition: transform var(--anim-slow), -webkit-transform var(--anim-slow);
}

.price-list-item:first-child {
  -webkit-transform-origin: left center;
          transform-origin: left center;
  -webkit-transform: rotateY(15deg);
          transform: rotateY(15deg);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#171a24), to(rgba(23, 26, 36, 0.2)));
  background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.price-list-item:last-child {
  -webkit-transform: rotateY(-15deg);
          transform: rotateY(-15deg);
  -webkit-transform-origin: right center;
          transform-origin: right center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#090b13), to(rgba(9, 11, 19, 0.2)));
  background-image: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.price-list-item:hover {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

.price-inner-item:not(:last-child) {
  margin-bottom: 20px;
}

.price-inner-item::before {
  content: "";
  display: inline-block;
  /* width: 100%; */
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.12);
}

.price-inner-list {
  padding: 30px 40px;
}

.price-inner-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  gap: 6px;
}

.price-inner-desc {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.price-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.benefits-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.benefits-left-side {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.benefits-list {
  -ms-flex-preferred-size: 370px;
      flex-basis: 370px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  /* gap: 30px; */
}

.benefits-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 170px;
  min-height: 133px;
  padding: 20px;
  background-color: #f7f7f7;
}

.benefits-item:nth-child(2n+1) {
  margin-bottom: 30px;
  margin-right: 30px;
}

.benefits-item:nth-child(2n) {
  margin-top: 30px;
}

.benefits-amount {
  position: relative;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.35;
  text-align: center;
  letter-spacing: 0.05em;
  color: #303030;
}

.benefits-amount::before {
  content: "+";
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translate(12px, 0);
          transform: translate(12px, 0);
  -webkit-transform-origin: left center;
          transform-origin: left center;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.375;
  color: #ff6c00;
}

.benefits-decor {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.38;
  color: #ff6c00;
}

.benefits-descr {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: #303030;
}

.benefits-right-side {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

/* Team section */
.team {
  background-color: #f7f7f7;
}

.team__title {
  margin-bottom: 44px;
}

.team__wrapper {
  padding: 30px 0;
}

.team__subtitle {
  margin-bottom: 8px;
  font-size: 18px;
  line-height: 1.38;
  text-align: center;
  letter-spacing: 0.02em;
  color: #303030;
}

.team__position {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ff6c00;
}

.portfolio__list {
  --items: 4;
}

.portfolio__item {
  position: relative;
  overflow: hidden;
}/*# sourceMappingURL=main.css.map */