/* Contacts section */
.contacts {
	background-color: #191c26;
	background-image: url(../images/contacts/contacts-bg.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: top 50% left calc(50% + 312px);
}

.contacts-container {
	display: flex;
}

.contacts-left-side {
	flex-basis: 50%;
}

.contacts-right-side {
	flex-basis: 50%;
	margin-left: 100px;
}

.contatcs-uppertitle {
	color: #ffffff;
}

.contacts-address {
	margin-bottom: 70px;

	font-style: normal;
	font-size: 18px;
	line-height: 1.67;
	letter-spacing: 0.02em;
	color: #9da4bd;
}

.contacts-item:not(:last-child) {
	margin-bottom: 20px;
}

.contacts-link {
	width: 270px;
	display: flex;
	gap: 16px;
}

.contacts-scedule {
	font-size: 18px;
	line-height: 1.67;
	letter-spacing: 0.02em;
	color: #9da4bd;
}
/* Footer section */
.footer-copyright {
	font-weight: 600;
	font-size: 11px;
	line-height: 1.36;
	letter-spacing: 0.2em;
	color: #9da4bd;
}

/**
	|============================
	| Робота з декількома кольорами
	| на одній іконці
	|============================
*/
.icon-astronaut {
	--color1: #303030;
	--color2: #ff6c00;
	--color3: #ff0000;
}
.icon-astronaut:hover {
	--color1: #db3fa9;
	--color2: #00aeff;
	--color3: #44ff00;
}

/* Modal window */
.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	width: 100%;
	height: 100%;

	background-color: rgba(55, 57, 63, 0.203);

	opacity: 1;
	visibility: visible;
	pointer-events: initial;

	transition: opacity var(--anim-fast), visibility var(--anim-fast);
}

.backdrop.is-hidden {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}

.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	width: 500px;
	min-height: 500px;
	padding: 40px;
	background-color: #fff;

	border-radius: 10px;
	box-shadow: 4px 4px 8px rgba(55, 57, 63, 0.203);
}
.modal-close-btn {
	position: absolute;
	top: 0;
	right: 0;

	transform: translate(50%, -50%);

	display: flex;
	align-items: center;
	justify-content: center;
	width: 30px;
	height: 30px;
	padding: 0;

	border: none;
	border-radius: 50%;
	background-color: #fff;
	box-shadow: 4px 4px 8px rgba(55, 57, 63, 0.203);
	cursor: pointer;
}

/**
	|============================
	| Modal form styles
	|============================
*/
.register-form {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.form-checkbox {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
}

.form-checkbox-custom-checkbox {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 20px;
	height: 20px;
	outline: 2px solid #9da4bd;
	outline-offset: -2px;
	border-radius: 8px;

	transition: outline-color 250ms, background-color 250ms;
}

.form-checkbox-input:focus + .form-checkbox-custom-checkbox {
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

.form-checkbox-input:checked + .form-checkbox-custom-checkbox {
	background-color: #ff6c00;
	outline-color: #ff6c00;
}

.form-checkbox-icon {
	fill: #ffffff;
}

.form-checkbox-agreement {
	font-size: 11px;
	user-select: none;
}

/* radio buttons */
.payment-group {
	display: flex;
	align-items: center;
	gap: 20px;
}

.payment-icon {
	fill: #9da4bd;
	transition: 400ms;
}
.payment-input:checked + .payment-icon {
	fill: #ff6c00;
}

/* choises select */
.choices__inner {
	border: 2px solid #ff6c00;
	border-radius: 20px;
}
/**
	|============================
	| Contact form styles
	|============================
*/
.contact-form-wrapper {
	display: flex;
	align-items: center;
	gap: 30px;

	margin-bottom: 44px;
}

.contact-form-group {
	position: relative;
	flex-basis: 270px;
}

.contact-form-group:last-child {
	flex-basis: 260px;
}

.contact-form-field {
	width: 100%;
	height: 26px;
	padding-left: 5px;
	padding-right: 25px;

	color: #ffffff;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid rgba(157, 164, 189, 0.4);
	outline: transparent;

	transition: border-color 200ms;
}

.contact-form-field:focus,
.contact-form-field:not(:placeholder-shown) {
	border-color: #ffffff;
}

.contact-form-field:focus:invalid:not(:placeholder-shown) {
	border-color: #f1b211;
}
.contact-form-field:focus:valid:not(:placeholder-shown),
.contact-form-field:valid:not(:placeholder-shown) {
	border-color: #90ee90;
}

.contact-form-field::placeholder {
	font-weight: 600;
	font-size: 12px;
	line-height: calc(15 / 11);
	letter-spacing: 0.1em;

	color: rgba(157, 164, 189, 0.4);
	opacity: 0;

	transition: opacity 250ms ease-in-out 50ms;
}

.contact-form-field:focus::placeholder {
	opacity: 1;
}

.contact-form-label {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);

	font-weight: 600;
	font-size: 11px;
	line-height: calc(15 / 11);
	letter-spacing: 0.1em;
	text-transform: uppercase;

	color: rgba(157, 164, 189, 0.4);
	transition: transform var(--anim-fast);
}

.contact-form-field:focus + .contact-form-label,
.contact-form-field:not(:placeholder-shown) + .contact-form-label {
	transform: translateY(-30px) scale(0.7);
	transform-origin: top left;
	color: #ffffff;
}

.contact-form-error {
	position: absolute;
	left: 0;
	bottom: -80%;
	font-size: 9px;
}

.contact-form-error-icon {
	position: absolute;
	right: 5px;
	top: 50%;
	transform: translateY(-50%);
}

.icon-attention,
.contact-form-error {
	color: #f1b211;
	fill: #f1b211;
	opacity: 0;
	transition: 250ms ease-in;
}

.icon-success {
	fill: #90ee90;
	opacity: 0;
	transition: 250ms ease-in 50ms;
}

.contact-form-field:focus:invalid ~ .contact-form-error-icon .icon-attention,
.contact-form-field:focus:invalid ~ .contact-form-error {
	opacity: 1;
}

.contact-form-field:focus:valid ~ .contact-form-error-icon .icon-success,
.contact-form-field:valid:not(:placeholder-shown) ~ .contact-form-error-icon .icon-success {
	opacity: 1;
}

/* message field */
.contact-form-message-group {
	position: relative;
	display: block;
	width: 100%;
	margin-bottom: 44px;
}

.contact-form-message-group .contact-form-label {
	top: 0;
}

.contact-form-message:focus + .contact-form-label,
.contact-form-message:not(:placeholder-shown) + .contact-form-label {
	transform: translateY(-20px) scale(0.7);
	transform-origin: top left;
	color: #ffffff;
}

.contact-form-message {
	width: 100%;
	height: 76px;
	padding: 5px;
	resize: none;

	color: #ffffff;
	font-weight: 600;
	font-size: 11px;
	line-height: 15px;
	letter-spacing: 0.1em;
	text-transform: uppercase;

	background-color: transparent;
	outline: transparent;
	border: none;
	border-bottom: 1px solid rgba(157, 164, 189, 0.4);

	transition: border-color 200ms;
}

.contact-form-message:focus,
.contact-form-message:not(:placeholder-shown) {
	border-color: #ffffff;
}

.contact-form-message::placeholder {
	color: rgba(157, 164, 189, 0.4);
	opacity: 0;

	transition: opacity 250ms ease-in-out 50ms;
}

.contact-form-message:focus::placeholder {
	opacity: 1;
}
