:root {
	/* fonts */
	--main-font: "Open Sans";
	--secondary-font: "Raleway";

	/* text colors */
	--accent-txt-cl: #ff6c00;
	--main-light-theme: #303030;
	--main-dark-theme: #ffffff;
	--red-cl: #f9002f;

	/* bg-colors */

	/* others */
	--items: 3;
	--indent: 30px;

	--anim-slow: 600ms ease-in-out;
	--anim-fast: 300ms ease-in-out;
}

body {
	font-family: var(--main-font), sans-serif;
	font-size: 14px;
	line-height: 1.86;
}

/* reset */
h1,
h2,
h3,
h4,
p {
	margin: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

/* common styles start */
.no-scroll {
	overflow: hidden;
}

.section {
	padding-top: 130px;
	padding-bottom: 130px;
}
.container {
	width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;

	/* outline: 1px solid red; */
}
.link {
	text-decoration: none;
	color: currentColor;
}

.list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.btn {
	padding: 12px 20px;
	font-family: inherit;
	font-weight: 600;
	font-size: 12px;
	line-height: 1.33;
	letter-spacing: 0.09em;
	text-transform: uppercase;

	background-color: transparent;
	border: 1px solid var(--accent-txt-cl);
	border-radius: 25px;
	cursor: pointer;

	transition: color var(--anim-slow), background-color var(--anim-fast);
}

.btn:hover,
.btn:focus {
	background-color: var(--accent-txt-cl);
	color: var(--main-dark-theme);
}

.btn-mode-light {
	color: var(--main-light-theme);
}

.btn-mode-dark {
	color: var(--main-dark-theme);
}

.socials-link {
	font-weight: 600;
	font-size: 11px;
	line-height: 1.36;
	letter-spacing: 0.2em;

	color: var(--main-light-theme);

	/* transition-property: color, background-color, box-shadow, transform;
	transition-duration: 600ms;
	transition-timing-function: ease-in-out; */

	transition: color var(--anim-slow);
}

.socials-link:hover,
.socials-link:focus {
	color: var(--accent-txt-cl);
}

.uppertitle {
	margin-bottom: 20px;
	display: flex;
	align-items: center;

	font-weight: 600;
	font-size: 11px;
	line-height: 1.36;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

.uppertitle-mode-light {
	color: #303030;
}

.uppertitle-mode-dark {
	color: rgba(157, 164, 189, 0.6);
}

.uppertitle::before {
	content: "";

	margin-right: 20px;
	display: inline-block;
	width: 60px;
	height: 1px;

	background-color: #303030;
}

.main-title {
	margin-bottom: 20px;
	font-family: var(--secondary-font);
	font-weight: 700;
	font-size: 72px;
	line-height: 1.18;
	letter-spacing: 0.05em;
	color: #ffffff;
}

.section-title {
	font-weight: 700;
	font-size: 42px;
	line-height: 1.16;
	letter-spacing: 0.05em;
}

.section-title-mode-light {
	margin-bottom: 20px;
	color: #303030;
}

.section-title-mode-dark {
	margin-bottom: 44px;
	color: #ffffff;
}

.section-subtitle {
	margin-bottom: 20px;

	font-size: 18px;
	line-height: 1.67;
	letter-spacing: 0.02em;
}
.section-subtitle-mode-light {
	color: #555555;
}
.section-subtitle-mode-dark {
	color: #ffffff;
}

/* visually-hidden hide elements */
.visually-hidden {
	position: absolute;
	white-space: nowrap;
	width: 1px;
	height: 1px;
	overflow: hidden;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	margin: -1px;
}

/**
  |============================
  | сітка із застосуванням flex-box
  |============================
*/
.card-set {
	display: flex;
	flex-wrap: wrap;
	margin: calc(-1 * var(--indent) / 2);
}

.card-set-item {
	flex-basis: calc((100% - var(--indent) * var(--items)) / var(--items));
	margin: calc(var(--indent) / 2);
}
/* common styles end */

/* slider start */
.slider-pagination {
	position: absolute;
	top: 50%;
	right: 55px;
	transform: translateY(-50%);

	color: #fff;
}

.slider-pagination-item {
	margin-left: auto;
	margin-bottom: 12px;
	width: 8px;
	height: 2px;
	background-color: #9da4bd;
}

.slider-pagination-item:last-child {
	margin-bottom: 0;
}

.slider-pagination-item.current {
	width: 18px;
	background-color: #fff;
}

.slider-controls {
	position: absolute;
	bottom: 40px;
	right: 55px;

	display: flex;
	align-items: center;
	gap: 26px;
}
.slider-btn {
	padding: 8px 0;
	min-width: 60px;

	font-weight: 600;
	font-size: 11px;
	line-height: 1.36;
	letter-spacing: 0.1em;
	color: #ffffff;

	background-color: transparent;
	border: none;
	border-bottom: 1px solid #ffffff;
	cursor: pointer;
}

.slider-btn-prev {
	text-align: left;
	opacity: 0.6;
}
.slider-btn-next {
	text-align: right;
}
/* slider end */

/* Header section */
.page-header {
	position: fixed;
	top: 0;
	z-index: 100;
	width: 100%;
	/* background-color: #191c26; */

	transition: background-color var(--anim-slow), backdrop-filter var(--anim-slow), bax-shadow var(--anim-slow);
}

.page-header.js-no-transparency {
	background-color: rgba(16, 18, 27, 0.4);
	backdrop-filter: blur(10px);
	box-shadow: 0 4px 10px rgba(25, 28, 38, 0.4);
}

.header-container {
	display: flex;
	align-items: center;
}

.header-logo {
	margin-right: 71px;
}

.header-list {
	display: flex;
}

.header-list-item:not(:last-child) {
	margin-right: 40px;
}

.header-link {
	display: block;
	padding-top: 52px;
	padding-bottom: 52px;

	font-weight: 600;
	font-size: 12px;
	line-height: 1.33;
	letter-spacing: 0.1em;
	color: var(--main-dark-theme);

	transition: color var(--anim-slow);
}

.current-link {
	position: relative;
	color: var(--accent-txt-cl);
	display: flex;
	align-items: center;
}

.current-link::before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;

	transform: translateY(-20px);

	width: 100%;
	height: 4px;
	display: inline-block;
	margin-right: 10px;

	background-color: var(--accent-txt-cl);
	border-radius: 2px;
}

.header-link:hover,
.header-link:focus {
	color: var(--accent-txt-cl);
}

.header-group {
	margin-left: auto;
}

.header-contact {
	font-weight: 600;
	font-size: 12px;
	line-height: 1.33;
	letter-spacing: 0.1em;
	text-transform: uppercase;

	color: var(--main-dark-theme);
}

.header-btn {
	margin-left: 40px;
}

/* Hero section */
.hero {
	position: relative;
	max-width: 1280px;
	margin: 0 auto;

	background-color: #191c26;
	background-image: url(../images/hero/hero-bg.jpg), linear-gradient(to right, #fff 155px, rgba(25, 28, 38, 0.2) 155px);

	background-position: top right, center;
	background-repeat: no-repeat;
	background-size: 1125px 680px, cover;
}

.hero-container {
	display: flex;
}

.hero-left-side {
	display: flex;
	align-items: flex-end;
	max-width: 100px;
	flex-basis: 100px;
}

.hero-list {
	margin-bottom: 40px;

	display: flex;
	align-items: center;
	gap: 40px;

	transform: translateX(28px) rotate(-90deg);
	transform-origin: top left;
}

.hero-list::before {
	content: "";
	width: 60px;
	height: 1px;

	background-color: #303030;
}

.hero-right-side {
	margin-left: 100px;
	max-width: 500px;
	flex-grow: 1;
	padding-top: 272px;
	padding-bottom: 206px;
}

.hero-descr {
	font-size: 18px;
	line-height: 1.67;
	letter-spacing: 0.02em;
	color: #9da4bd;
}
/* Hero section */
/* About section */
.about-container {
	display: flex;
}

.about-list {
	display: flex;
}

.about-item:not(:last-child) {
	margin-right: 30px;
}

.about-group {
	flex-basis: 500px;
	margin-left: 64px;
}

.about-descr {
	margin-bottom: 40px;
}
/* Price section */
.price {
	max-width: 1440px;
	margin-left: auto;
	margin-right: auto;

	background-color: #111319;
	background-image: url(../images/price/price-bg.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.price-list {
	display: flex;
	margin-bottom: 50px;

	font-size: 18px;
	line-height: 1.67;
	letter-spacing: 0.02em;
	color: #9da4bd;

	perspective: 1000px;
}

.price-list-item {
	flex-basis: 50%;
	transition: transform var(--anim-slow);
}

.price-list-item:first-child {
	transform-origin: left center;
	transform: rotateY(15deg);
	background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.price-list-item:last-child {
	transform: rotateY(-15deg);
	transform-origin: right center;
	background-image: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}
.price-list-item:hover {
	transform: rotateY(0);
}

.price-inner-item:not(:last-child) {
	margin-bottom: 20px;
}

.price-inner-item::before {
	content: "";
	display: inline-block;
	/* width: 100%; */
	flex-grow: 1;
	height: 1px;
	background-color: rgba(157, 164, 189, 0.12);
}

.price-inner-list {
	padding: 30px 40px;
}

.price-inner-item {
	display: flex;
	align-items: baseline;
	gap: 6px;
}

.price-inner-desc {
	order: -1;
}

.price-btn {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
/* Benefits section */
.benefits-container {
	display: flex;
}

.benefits-left-side {
	flex-basis: 50%;
	display: flex;
	justify-content: center;
}

.benefits-list {
	flex-basis: 370px;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	/* gap: 30px; */
}

.benefits-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	width: 170px;
	min-height: 133px;
	padding: 20px;

	background-color: #f7f7f7;
}

.benefits-item:nth-child(2n + 1) {
	margin-bottom: 30px;
	margin-right: 30px;
}
.benefits-item:nth-child(2n) {
	margin-top: 30px;
}

.benefits-amount {
	position: relative;
	font-weight: 700;
	font-size: 42px;
	line-height: 1.35;
	text-align: center;
	letter-spacing: 0.05em;
	color: #303030;
}

.benefits-amount::before {
	content: "\002B";
	position: absolute;
	top: 0;
	right: 0;

	transform: translate(12px, 0);
	transform-origin: left center;

	font-weight: 600;
	font-size: 16px;
	line-height: calc(22 / 16);
	color: #ff6c00;
}

.benefits-decor {
	font-weight: 600;
	font-size: 16px;
	line-height: 1.38;
	color: #ff6c00;
}

.benefits-descr {
	font-weight: 600;
	font-size: 11px;
	line-height: 1.36;
	text-align: center;
	color: #303030;
}

.benefits-right-side {
	flex-basis: 50%;
}
/* Team section */
.team {
	background-color: #f7f7f7;
}

.team-title {
	margin-bottom: 44px;
}

.team-wrapper {
	padding: 30px 0;
}

.team-subtitle {
	margin-bottom: 8px;

	font-size: 18px;
	line-height: 1.38;
	text-align: center;
	letter-spacing: 0.02em;
	color: #303030;
}

.team-position {
	margin-bottom: 30px;

	font-size: 14px;
	line-height: 1.36;
	text-align: center;
	letter-spacing: 0.02em;
	color: #ff6c00;
}

/* .social-media-link {
	display: inline-block;
	width: 44px;
	height: 44px;
	background-image: url(../images/icons/instagram.svg);
	background-repeat: no-repeat;
	background-position: center;
}
.social-media-link:hover {
	background-image: url(../images/icons/instagram-1.svg);
} */

/* svg {
	fill: #ff6c00;
}
svg:hover {
	fill: #bf00ff;
} */
/**
	|============================
	| Оформлення іконок
	|============================
*/
.social-media {
	display: flex;
	justify-content: center;
}
.social-media-item:not(:last-child) {
	margin-right: 10px;
}

.social-media-link {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 44px;
	height: 44px;
	color: #303030;
	background-color: #fff;
	border-radius: 50%;

	transition: color var(--anim-fast), background-color var(--anim-fast);

	/* outline: 1px solid red; */
}
/* Встановлюємо fill на іконку при ховері на посилання */
/* .social-media-link:hover .social-media-icon,
.social-media-link:focus .social-media-icon {
	fill: #ff6c00;
} */

.social-media-link:hover,
.social-media-link:focus {
	color: #ff6c00;
	background-color: #555555;
}

.social-media-icon {
	fill: currentColor;
}
/* Portfolio section */
.portfolio-list {
	--items: 4;
}

.portfolio-item {
	position: relative;
	overflow: hidden;
}

.portfolio-overlay {
	position: absolute;
	top: 0;
	left: 0;

	transform: translateY(100%);

	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 15px;
	backdrop-filter: blur(5px);
	background-color: rgba(25, 28, 38, 0.2);

	transition: transform var(--anim-fast);
}

.portfolio-item:hover .portfolio-overlay {
	transform: translateY(0);
}

.portfolio-desc {
	font-size: 18px;
	color: white;
}

/* Contacts section */
.contacts {
	background-color: #191c26;
	background-image: url(../images/contacts/contacts-bg.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: top 50% left calc(50% + 312px);
}

.contacts-container {
	display: flex;
}

.contacts-left-side {
	flex-basis: 50%;
}

.contacts-right-side {
	flex-basis: 50%;
	margin-left: 100px;
}

.contatcs-uppertitle {
	color: #ffffff;
}

.contacts-address {
	margin-bottom: 70px;

	font-style: normal;
	font-size: 18px;
	line-height: 1.67;
	letter-spacing: 0.02em;
	color: #9da4bd;
}

.contacts-item:not(:last-child) {
	margin-bottom: 20px;
}

.contacts-link {
	width: 270px;
	display: flex;
	gap: 16px;
}

.contacts-scedule {
	font-size: 18px;
	line-height: 1.67;
	letter-spacing: 0.02em;
	color: #9da4bd;
}
/* Footer section */
.footer-copyright {
	font-weight: 600;
	font-size: 11px;
	line-height: 1.36;
	letter-spacing: 0.2em;
	color: #9da4bd;
}

/**
	|============================
	| Робота з декількома кольорами
	| на одній іконці
	|============================
*/
.icon-astronaut {
	--color1: #303030;
	--color2: #ff6c00;
	--color3: #ff0000;
}
.icon-astronaut:hover {
	--color1: #db3fa9;
	--color2: #00aeff;
	--color3: #44ff00;
}

/* Modal window */
.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	width: 100%;
	height: 100%;

	background-color: rgba(55, 57, 63, 0.203);

	opacity: 1;
	visibility: visible;
	pointer-events: initial;

	transition: opacity var(--anim-fast), visibility var(--anim-fast);
}

.backdrop.is-hidden {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}

.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	width: 500px;
	min-height: 500px;
	padding: 40px;
	background-color: #fff;

	border-radius: 10px;
	box-shadow: 4px 4px 8px rgba(55, 57, 63, 0.203);
}
.modal-close-btn {
	position: absolute;
	top: 0;
	right: 0;

	transform: translate(50%, -50%);

	display: flex;
	align-items: center;
	justify-content: center;
	width: 30px;
	height: 30px;
	padding: 0;

	border: none;
	border-radius: 50%;
	background-color: #fff;
	box-shadow: 4px 4px 8px rgba(55, 57, 63, 0.203);
	cursor: pointer;
}

/**
	|============================
	| Modal form styles
	|============================
*/
.register-form {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.form-checkbox {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
}

.form-checkbox-custom-checkbox {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 20px;
	height: 20px;
	outline: 2px solid #9da4bd;
	outline-offset: -2px;
	border-radius: 8px;

	transition: outline-color 250ms, background-color 250ms;
}

.form-checkbox-input:focus + .form-checkbox-custom-checkbox {
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

.form-checkbox-input:checked + .form-checkbox-custom-checkbox {
	background-color: #ff6c00;
	outline-color: #ff6c00;
}

.form-checkbox-icon {
	fill: #ffffff;
}

.form-checkbox-agreement {
	font-size: 11px;
	user-select: none;
}

/* radio buttons */
.payment-group {
	display: flex;
	align-items: center;
	gap: 20px;
}

.payment-icon {
	fill: #9da4bd;
	transition: 400ms;
}
.payment-input:checked + .payment-icon {
	fill: #ff6c00;
}

/* choises select */
.choices__inner {
	border: 2px solid #ff6c00;
	border-radius: 20px;
}
/**
	|============================
	| Contact form styles
	|============================
*/
.contact-form-wrapper {
	display: flex;
	align-items: center;
	gap: 30px;

	margin-bottom: 44px;
}

.contact-form-group {
	position: relative;
	flex-basis: 270px;
}

.contact-form-group:last-child {
	flex-basis: 260px;
}

.contact-form-field {
	width: 100%;
	height: 26px;
	padding-left: 5px;
	padding-right: 25px;

	color: #ffffff;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid rgba(157, 164, 189, 0.4);
	outline: transparent;

	transition: border-color 200ms;
}

.contact-form-field:focus,
.contact-form-field:not(:placeholder-shown) {
	border-color: #ffffff;
}

.contact-form-field:focus:invalid:not(:placeholder-shown) {
	border-color: #f1b211;
}
.contact-form-field:focus:valid:not(:placeholder-shown),
.contact-form-field:valid:not(:placeholder-shown) {
	border-color: #90ee90;
}

.contact-form-field::placeholder {
	font-weight: 600;
	font-size: 12px;
	line-height: calc(15 / 11);
	letter-spacing: 0.1em;

	color: rgba(157, 164, 189, 0.4);
	opacity: 0;

	transition: opacity 250ms ease-in-out 50ms;
}

.contact-form-field:focus::placeholder {
	opacity: 1;
}

.contact-form-label {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);

	font-weight: 600;
	font-size: 11px;
	line-height: calc(15 / 11);
	letter-spacing: 0.1em;
	text-transform: uppercase;

	color: rgba(157, 164, 189, 0.4);
	transition: transform var(--anim-fast);
}

.contact-form-field:focus + .contact-form-label,
.contact-form-field:not(:placeholder-shown) + .contact-form-label {
	transform: translateY(-30px) scale(0.7);
	transform-origin: top left;
	color: #ffffff;
}

.contact-form-error {
	position: absolute;
	left: 0;
	bottom: -80%;
	font-size: 9px;
}

.contact-form-error-icon {
	position: absolute;
	right: 5px;
	top: 50%;
	transform: translateY(-50%);
}

.icon-attention,
.contact-form-error {
	color: #f1b211;
	fill: #f1b211;
	opacity: 0;
	transition: 250ms ease-in;
}

.icon-success {
	fill: #90ee90;
	opacity: 0;
	transition: 250ms ease-in 50ms;
}

.contact-form-field:focus:invalid ~ .contact-form-error-icon .icon-attention,
.contact-form-field:focus:invalid ~ .contact-form-error {
	opacity: 1;
}

.contact-form-field:focus:valid ~ .contact-form-error-icon .icon-success,
.contact-form-field:valid:not(:placeholder-shown) ~ .contact-form-error-icon .icon-success {
	opacity: 1;
}

/* message field */
.contact-form-message-group {
	display: block;
	width: 100%;
	margin-bottom: 44px;
}

.contact-form-message {
	width: 100%;
	height: 76px;
	padding: 5px;
	resize: none;

	color: #ffffff;
	font-weight: 600;
	font-size: 11px;
	line-height: 15px;
	letter-spacing: 0.1em;
	text-transform: uppercase;

	background-color: transparent;
	outline: transparent;
	border: none;
	border-bottom: 1px solid rgba(157, 164, 189, 0.4);

	transition: border-color 200ms;
}

.contact-form-message:focus,
.contact-form-message:not(:placeholder-shown) {
	border-color: #ffffff;
}

.contact-form-message::placeholder {
	color: rgba(157, 164, 189, 0.4);
	opacity: 0;

	transition: opacity 250ms ease-in-out 50ms;
}

.contact-form-message:focus::placeholder {
	opacity: 1;
}
