.container {
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;

	@media screen and (min-width: 480px) {
		max-width: 448px;
	}

	@media screen and (min-width: 768px) {
		max-width: 720px;
	}

	@media screen and (min-width: 1200px) {
		max-width: 1200px;
	}
}
