/* overlay */
.overlay {
	position: absolute;
	top: 0;
	left: 0;

	transform: translateY(100%);

	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 15px;
	backdrop-filter: blur(5px);
	background-color: rgba(25, 28, 38, 0.2);

	transition: transform var(--anim-fast);
}

.portfolio__item:hover .overlay {
	transform: translateY(0);
}

.overlay__desc {
	font-size: 18px;
	color: white;
}
