.title {
	// font-weight: 700;
	// font-size: 42px;
	// line-height: 1.16;
	// letter-spacing: 0.05em;

	@include fonts(700, 42px, 49px);

	&--mode-light {
		margin-bottom: 20px;
		color: #303030;
	}

	&--mode-dark {
		margin-bottom: 44px;
		color: #ffffff;
	}
}
