.uppertitle {
	margin-bottom: 20px;
	display: flex;
	align-items: center;

	font-weight: 600;
	font-size: 11px;
	line-height: 1.36;
	letter-spacing: 0.1em;
	text-transform: uppercase;

	&--mode-light {
		color: #303030;
	}

	&--mode-dark {
		color: rgba(157, 164, 189, 0.6);
	}

	&::before {
		content: "";

		margin-right: 20px;
		display: inline-block;
		width: 60px;
		height: 1px;

		background-color: #303030;
	}
}
