:root {
	/* fonts */
	--main-font: "Open Sans";
	--secondary-font: "Raleway";

	/* text colors */
	--accent-txt-cl: #ff6c00;
	--main-light-theme: #303030;
	--main-dark-theme: #ffffff;
	--red-cl: #f9002f;

	/* bg-colors */

	/* others */
	--items: 3;
	--indent: 30px;

	--anim-slow: 600ms ease-in-out;
	--anim-fast: 300ms ease-in-out;
}
