.hero {
	position: relative;
	max-width: 1280px;
	margin: 0 auto;

	background-color: #191c26;

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	background-image: url(../images/hero/hero-bg_sm.jpg);

	// Для ретіна екранів мобільна версія
	@media (min-device-pixel-ratio: 2),
		(-webkit-min-device-pixel-ratio: 2),
		(min-resolution: 192dpi),
		(min-resolution: 2dppx) {
		background-image: url(../images/hero/hero-bg_sm@2x.jpg);
	}

	@media screen and (min-width: 768px) {
		background-image: url(../images/hero/hero-bg_md.jpg);

		// Для ретіна екранів планшетна версія
		@media (min-device-pixel-ratio: 2),
			(-webkit-min-device-pixel-ratio: 2),
			(min-resolution: 192dpi),
			(min-resolution: 2dppx) {
			background-image: url(../images/hero/hero-bg_md@2x.jpg);
		}
	}

	@media screen and (min-width: 1200px) {
		background-image: url(../images/hero/hero-bg_lg.jpg);

		// Для ретіна екранів десктопна версія
		@media (min-device-pixel-ratio: 2),
			(-webkit-min-device-pixel-ratio: 2),
			(min-resolution: 192dpi),
			(min-resolution: 2dppx) {
			background-image: url(../images/hero/hero-bg_lg@2x.jpg);
		}
	}
}

.hero-container {
	display: flex;
}

.hero-left-side {
	display: none;

	@media screen and(min-with: 768px) {
		display: flex;
		align-items: flex-end;
		max-width: 100px;
		flex-basis: 100px;
	}
}

.hero-list {
	margin-bottom: 40px;

	display: flex;
	align-items: center;
	gap: 40px;

	transform: translateX(28px) rotate(-90deg);
	transform-origin: top left;
}

.hero-list::before {
	content: "";
	width: 60px;
	height: 1px;

	background-color: #303030;
}

.hero-right-side {
	margin-left: 100px;
	max-width: 500px;
	flex-grow: 1;
	padding-top: 272px;
	padding-bottom: 206px;

	@media screen and(max-width: 767px) {
		margin: 0;
	}
}

.hero-descr {
	font-size: 18px;
	line-height: 1.67;
	letter-spacing: 0.02em;
	color: #9da4bd;

	@media screen and(max-width: 1199px) {
		font-size: 16px;
	}
}
