.portfolio {
	padding-top: 84px;
	padding-bottom: 84px;

	@media screen and (min-width: 768px) {
		padding-top: 100px;
		padding-bottom: 100px;
	}

	@media screen and (min-width: 1200px) {
		padding-top: 130px;
		padding-bottom: 130px;
	}
}

.portfolio__list {
	--items: 1;

	@media screen and (min-width: 768px) {
		--items: 2;

		// display: flex;
		// flex-wrap: wrap;
		// gap: 30px;
	}

	@media screen and (min-width: 1200px) {
		--items: 4;
	}
}

.portfolio__item {
	position: relative;
	overflow: hidden;

	@media screen and (min-width: 768px) {
		// 	width: 330px;
		// }

		// @media screen and (min-width: 1200px) {
		// 	width: 270px;
		// }
	}
}
