.price {
	// @extend %section;
	@include section(100px);

	max-width: 1440px;
	margin-left: auto;
	margin-right: auto;

	background-color: #111319;
	background-image: url(../images/price/price-bg.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.price-list {
	display: flex;
	margin-bottom: 50px;

	font-size: 18px;
	line-height: 1.67;
	letter-spacing: 0.02em;
	color: #9da4bd;

	perspective: 1000px;
}

.price-list-item {
	flex-basis: 50%;
	transition: transform var(--anim-slow);
}

.price-list-item:first-child {
	transform-origin: left center;
	transform: rotateY(15deg);
	background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.price-list-item:last-child {
	transform: rotateY(-15deg);
	transform-origin: right center;
	background-image: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}
.price-list-item:hover {
	transform: rotateY(0);
}

.price-inner-item:not(:last-child) {
	margin-bottom: 20px;
}

.price-inner-item::before {
	content: "";
	display: inline-block;
	/* width: 100%; */
	flex-grow: 1;
	height: 1px;
	background-color: rgba(157, 164, 189, 0.12);
}

.price-inner-list {
	padding: 30px 40px;
}

.price-inner-item {
	display: flex;
	align-items: baseline;
	gap: 6px;
}

.price-inner-desc {
	order: -1;
}

.price-btn {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
